<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaPanther.Aggregator.Reaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MediaPanther.Aggregator.Reaper.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=MotoFeed;Integrated Security=True</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Reaper\Logs\</value>
            </setting>
            <setting name="ScanIntervalSeconds" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="InDebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MediaCachePath" serializeAs="String">
                <value>C:\Reaper\Media\</value>
            </setting>
            <setting name="MinimumImageFilesizeBytes" serializeAs="String">
                <value>3072</value>
            </setting>
        </MediaPanther.Aggregator.Reaper.Properties.Settings>
    </applicationSettings>
</configuration>